<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.movie_admin.mapper.MemberMapper">
  
  <select id="getMember" resultType="com.movie_admin.vo.MemberBean">
  	Select * from member;
  </select>
  <select id="isAdmin" resultType="com.movie_admin.vo.AdminBean">
  	SELECT id,pass from admin;
  </select>
  
  </mapper>